{% extends "base.html" %}
{% load deliverytags %}
{% block title %} FST - DEL OUT DETAILS {% endblock %}
{% block content %}
<div  style="align-items:center">
</div>





 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div  style="align-items:center">
</div>

<div style="color:black;background: #424ef5; padding:5px; margin-bottom:15px; font-size:20px; width:100% ;  margin-top:15px ; margin-right:20px">
<ol class="list-group">

{% if delivery_out.Name != 'Default' %}
	<h3 style="color:white; text-align: center">Driver Out Name: {{ delivery_out.Name }}
<br> Phone: {{ delivery_out.Phone }}
<br> {% if  monthly_info != '' %} Bills delivered during the month # {{date|get_month}} : {{monthly_info}} bills {% endif %} {% endif %}
</h3>
	<form class="form-group" style="align:center" action="{% url 'delivery_out_details' delivery_out.pk %}" method="POST">
	{% csrf_token %}
    <label for="requested_date" style="color:white;"><h3 >Date Sent </h3> </label>
    <input class="form-control" id="requested_date" type="date" name="requested_date" {% if date == '0-0-0' %} value="No Date Specified" {% else %} value={{date|to_str}} {% endif %}>
    <hr>
    <input style="align-self: center" type="submit" class="btn btn-light" value="Filter By Date">
</form>
<p align="right"><a href="{% url 'delivery_out_details' delivery_out.pk  %}"><button  class="btn btn-light">View Unfinished Bills</button> </a></p>

<p align="right">
 <a href="{% url 'extract_delivery_out_report' delivery_out.pk %}"> <button class="btn btn-light">
  Extract Report As Excel
</button></a></p><p align="left">
  <a href="{% url 'delete_delivery_out' delivery_out.pk  %}"><button  class="btn btn-danger">Delete Driver Out</button> </a>
<a href="{% url 'updatedeliveryout' delivery_out.pk %}"><button class="btn btn-light">
Edit Driver Out</button></a></p>
<p style="color:white">Include All <input type="checkbox" id="checkall" name="xxx" onclick="check_all()"/></p>
<div style="text-align:right">
    <form method="POST" action="{% url 'delivery_out_details' delivery_out.pk date|get_year date|get_month date|get_day %}">
    <input type="text" name="IDS" id="IDS" hidden value="">
    {% csrf_token %}

    <input type="submit" id="submit" hidden>
</form><button class="btn btn-warning" value="Print" onclick="Print()"> Print </button></div>
<ul>
{% if date != '0-0-0' %}
                <h2 style="color:white; text-align:center">This is a list of <u><i><b>All</b></i></u> bills related to {{delivery_out.Name}} on {{date}}</h2> {% else %}
                <h2 style="color:white; text-align:center">This is a list of bills related to {{delivery_out.Name}} that are <u><i><b>Not Extracted In Report Yet</b></i></u></h2>
{% endif %}
<style type="text/css">    #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
           bottom-border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #424ef5;
            color: white;
        }
h1{
  text-align:center;
}
span{
  font-size: 200%;
  line-height: 80%;
}
</style>
</div>
<div >
<table id="customers" style="text-align: center">
        <thead><!--heading -->
            <tr style="text-align: center"><!--for row-->
                <th>ID</th><!--column in bold-->
                <th> Date Sent </th>
                <th>Supplier</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Order Amount</th>
                <th> Delivery Price </th>
                <th> Choose Driver Out</th>
                <th> Status </th>
                <th> Actions </th>
            </tr>
        </thead>
       
      

{% for sts in bills %}



           {% if sts.Status == 'refunded' %}
           <tr name="{{sts.Bill_Id}}_item"  style="text-align: center; background: yellow">

           <td> <input  type="checkbox" class="pl" name="{{sts.Bill_Id}}" > &nbsp<a
            href="{% url 'bill_details' sts.Bill_Id sts.Status  %}"
            >{{sts.Bill_Id}}  </a> </td> 
          <td >{{sts.Date_Sent}} </td>
          <td> {{sts.client}} </td>
          <td> {{sts.endClientName}}</td>
          <td> {{sts.address}} </td>
          <td> {{sts.Product_cost}} L.L</td>
          <td> {{sts.Delivery_cost}} L.L</td>
          <td> --------- </td>
          <td id="{{sts.Bill_Id}}_status"> {{sts.Status}} {% if sts.Done_Refunding %} <h5 style="color:green">Done Refunding</h5>
          {% else %}
          <h5 id="{{sts.Bill_Id}}_notdonerefunding" style="color:red">Refunding Not Done Yet</h5>  </td>{% endif %}
          <td> ---------  </td>

          </tr>


          <!--<a onclick="behave()" name="{{sts.Bill_Id}}" class="done_refunding" ><button type="button" id="{{sts.Bill_Id}}_donerefundingbutton" name="donerefunding" class="btn btn-danger">Done Refunding?</button></a>-->
        
          
          

           {% else %}
            <tr name="{{sts.Bill_Id}}_item"  style="text-align: center;">

           <td> <input  type="checkbox" class="pl" name="{{sts.Bill_Id}}" > &nbsp<a
            href="{% url 'bill_details' sts.Bill_Id sts.Status  %}"
            >{{sts.Bill_Id}}  </a> </td> 
          <td >{{sts.Date_Sent}} </td>
          <td> {{sts.client}} </td>
          <td> {{sts.endClientName}}</td>
          <td> {{sts.address}} </td>
          <td> {{sts.Product_cost}} L.L</td>
          <td> {{sts.Delivery_cost}} L.L</td>
          <td> {% if sts.Status == "pending"  %}
          <div id="deliveryout_{{sts.Bill_Id}}">
          Choose Driver Out:<br>
              <select class="ui search dropdown"   id="selectdeliveryout_{{sts.Bill_Id}}" >
                <option value="intro" selected disabled hidden>Search by typing the name</option>
              {% for deliveryout in deliveryouts %}
              {% if deliveryout.Name != 'Default' %}
             <option  value="{{deliveryout.pk}}">{{deliveryout.Name}}</option>
                        {% endif %}
           {% endfor %}
          </select><br><br></div>
          <script type="text/javascript">
          jQuery('.ui.search.dropdown')
            .dropdown();
            </script>
            {% else %}
            --------- 
            {% endif %}
          
        
</td>
          <td id="{{sts.Bill_Id}}_status"> {{sts.Status}} 


          {% if sts.Done %}
          <h5 name="{{sts.Bill_Id}}_done" style="color: green"> Done </h5>
        </td> 
            {% else %}
            <h5 id="{{sts.Bill_Id}}_notdone" style="color: red"> Not Done Yet </h5>
        </td>
        {% endif %}

        <td> 
          {% if sts.Status == 'pending' %}
            <a onclick="behave()" name="{{sts.Bill_Id}}" class="sent" id="sent_{{sts.Bill_Id}}"> <button type="button" name="sent" id="{{sts.Bill_Id}}_sentbutton" class="btn btn-warning">Sent? </button></a> 

            {% elif sts.Status == "sent" %}
            <a name="{{sts.Bill_Id}}" onclick="behave()" class="paid" id="paid_{{sts.Bill_Id}}"> <button id="{{sts.Bill_Id}}_paidbutton" type="button" class="btn btn-info" name="paid">Paid? </button></a>
            {% endif %}
            
      {% if not sts.Done %}
      
          <a onclick="behave()" name="{{sts.Bill_Id}}" class="done"  > <button id="{{sts.Bill_Id}}_donebutton" type="button" name="done" class="btn btn-danger">Done?<br></button></a>
          {% else %}
          <span id="done_{{sts.Bill_Id}}"></span>
          {% endif %}
        </td>
        {% endif %}
      
          </tr>
        


{% endfor %}

</table>
</div>
        

</ol>
</div>


</div>
<script>
    function check_all() {
 if (document.getElementById('checkall').checked)
  {
      var markedCheckbox = document.getElementsByClassName('pl');

  for (var checkbox of markedCheckbox)
  $(checkbox).prop('checked', true);
}
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function Print() {
var markedCheckbox = document.getElementsByClassName('pl');

var str = "";
  for (var checkbox of markedCheckbox) {

    if (checkbox.checked)
    {
      if (str != "") str=str+"-";
      str=str+checkbox.name;

  }

  }
if (str == "") alert("Nothing selected to print");
else {
document.getElementById("IDS").value=str;
document.getElementById("submit").click();
}
}

function behave() {
  var name=$(event.srcElement).attr("name");
  if (name=="sent") {
    var id = (event.srcElement.id).replace("_sentbutton","");
    var e = document.getElementById("selectdeliveryout_"+id);
    var strUser = e.value;
    if (strUser == "intro") {
    alert("You have to choose a driver out");
    return 0;
    }

    $.ajax({
             type: "POST",
             url: "{% url 'delivery_out_details' delivery_out.pk date|get_year date|get_month date|get_day %}",
             data: {'content_id': id,'operation':'sent','deliveryout':strUser,'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {

              selector=document.getElementById(response.Id);
              $(selector).text("Paid?");
              $(selector).attr({class:'btn btn-info'});
              selector=document.getElementById(response.statusid);
              selector.innerText= "Status: sent";
              selector=document.getElementById("sent_"+response.billid);
            $(selector).attr("class", "paid");

          $(selector).attr("id","paid_"+response.billid);
          selector=document.getElementById(response.billid+"_sentbutton");
          $(selector).attr("id",response.billid+"_paidbutton");
          $(selector).attr("name", "paid");
          selector=document.getElementById("deliveryout_"+id);
          $(selector).remove();

              }



        });

    }

  else if (name=="paid") {
    var id = (event.srcElement.id).replace("_paidbutton","");
    $.ajax({
             type: "POST",
             url: "{% url 'delivery_out_details' delivery_out.pk date|get_year date|get_month date|get_day %}",
             data: {'content_id': id,'operation':'paid','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {

              selector=document.getElementById(response.Id);
              $(selector).text("Bill Already Paid");
              $(selector).attr({class:'btn btn-success'});
              selector=document.getElementById(response.statusid);
              selector.innerText= "Status: paid";
              selector=document.getElementById("paid_"+response.billid);
            $(selector).attr("class", "noclass");
          $(selector).attr("id","");
          selector=document.getElementById(response.billid+"_paidbutton");
          $(selector).attr("id","");
          $(selector).remove();
        //  selector=document.getElementById("done_"+response.billid);
         // selector.innerHTML= '<a onclick="behave()" name="'+response.billid+'" class="done"  > <button name="done" id="'+response.billid+'_donebutton" type="button" class="btn btn-danger">Done?<br></button></a>';
              }



        });
  }

  else if (name=="done") {
    var id = (event.srcElement.id).replace("_donebutton","");
    $.ajax({

             type: "POST",
              url: "{% url 'delivery_out_details' delivery_out.pk date|get_year date|get_month date|get_day %}",
             data: {'content_id': id,'operation':'done','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {

             selector = document.getElementById(response.block);
             $(selector).css({'color':'green'});
             $(selector).text("Done");
             s = document.getElementById(response.rem1);
             $(s).remove();
             s = document.getElementById(response.rem2);
             $(s).remove();
              }

        });
  }
   else if (name == "donerefunding") {
    var id = (event.srcElement.id).replace("_donerefundingbutton","");
    $.ajax({
             type: "POST",
           url: "{% url 'delivery_out_details' delivery_out.pk date|get_year date|get_month date|get_day %}",
             data: {'content_id':id ,'operation':'done_refunding','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
              var s=response.content_id + "_postponebutton";
              selector=document.getElementById(s);
              $(selector).remove();
              selector=document.getElementById(response.Id);
              $(selector).remove();
              selector=document.getElementById(response.statusid);
              $(selector).attr({style:'color:green'});
              selector.innerText= "Done Refunding";

              }
        });
  }

}
</script>



{% endblock %}